.main {
  font-family: var(--basic-font);
  background-color: var(--blue);
  &-plan {
    padding: 25px;
    color: var(--basic-blue);
    &__tourism {
      position: relative;
      color: var(--basic_blue);
      margin:0;
      font-weight: bold;
      font-size: 18px;
      line-height: 18px;
      padding: 22px 25px 0px 22px;
      background-color: var(--bg-color);
      padding-bottom: 21px;
    }
  }
}

.step {
  &-one{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }
  &-one::after,
  &-two::after,
  &-three::after,
  &-four::after {
    color: var(--white);
    position: absolute;
    right:21px;
    top:20px;
  }
  &-one::after {
    content:"1";
  }
  &-two::after {
    content:"2";
  }
  &-three::after {
    content:"3";
  }
  &-four::after {
    content:"4";
  }
}

