.main-intro {
  background-color: var(--basic_blue);
  padding: 30px 20px 0 27px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 50% -110px;
}

.main-intro__title {
  color: var(--white);
  padding: 0;
  margin: 32px 0 16px 0;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  position: relative;
  z-index: 5;

  &::after {
    content: "";
    height: 5px;
    width: 100%;
    display: block;
    position: absolute;
    bottom: -18px;
    background-color: var(--special_orange);
    border-radius: 4px;
  }
}

.main-intro__feedback-list {
  color: var(--white);
  width: 81%;
  margin: 0 auto;
  margin-bottom: 6px;
  padding: 0 25px 0 50px;
}

.main-intro__feedback-item {
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 22px;
}

.main-intro__feedback-msg {
  color: var(--white);
  font-weight: 300;
  width: 151px;
  align-self: flex-start;
  margin-bottom: 18px;
}

.main-intro__feedback-author {
  font-style: normal;
  font-weight: bold;
  width: 70%;
}


.main-intro--form-page {
  padding-top: 0;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  position: relative;
  z-index: 5;
  background: var(--basic_blue);
}
