.new-profile {
  padding: 37px 25px 0 49px;
  position: relative;
  background-color: var(--grey);
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  z-index: 2;

  &::before {
    display: block;
    content: "";
    background-color: var(--grey);
    width: 100%;
    box-sizing: border-box;
    height: 40px;
    position: absolute;
    z-index: 2;
    top: -7%;
    left: 50%;
    transform: translateX(-50%);
  }
}

.new-profile__add {
  padding: 0;
  margin: 14px 0 0 0;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
  width: 107px;
  margin-bottom: 58px;
}

.new-profile__add-icon {
  position: absolute;
  right: 27px;
  top: 37px;

  &::after {
    content: "";  // was 123
    display: block;
    width: 60px;
    height: 60px;
    top: 4px;
    right: 0;
    background-color: var(--basic_yellow);
  }
}

.new-profile__offers-list {
  list-style: none;
  padding: 0;
  margin: 0;
  counter-reset: section;
}

.new-profile__offers-list-item {
  margin: 0;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 16px;
  color: var(--special_grey);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  margin-bottom: 35px;
}

.new-profile__offers-list-item-price {
  margin-top: 9px;

  &::after {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    position: absolute;
    display: block;
    counter-increment: section;
    content: counter(section);
    color: var(--white);
    box-sizing: border-box;
    right: 0;
    top: -6px;
    border-radius: 50%;
    width: 34px;
    height: 34px;
    padding: 8px 0 0 12px;
  }
}

.new-profile__offers-see-all {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  color: var(--color-link);
  text-decoration: none;
  display: block;
  margin: 44px 0 38px 0;

  &:hover {
    color: var(--color-link_opacity-7);
  }

  &:active {
    color: var(--color-link_opacity-3);
  }
}

.number-one {
  margin-bottom: 25px;

  &::after {
    background-color: var(--special_orange);
  }
}

.number-two {
  margin-bottom: 25px;

  &::after {
    background-color: var(--step-one-bg-color);
    top: -7px;
  }
}

.number-three::after {
  background-color: var(--step-two-bg-color);
  top: -7px;
}
