@import "variable.less";
@import "root.less";
@import "fonts.less";
@import "header.less";
@import "main-intro.less";
@import "main.less";
@import "desk-about-us.less";
@import "directions.less";
@import "about-companions.less";
@import "new-profile.less";
@import "subscribe.less";
@import "address.less";
@import "footer.less";

// form.html
@import "profile-card.less";
@import "my-plans.less";
@import "new-plan.less";

@import "form-of-journey.less";


@import "companions-need.less";


body {
  width: @mobile-width;
  margin: 0 auto;
  position: relative;
  font-family: var(--basic-font);
}
